@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');

*{
margin: 0%;
padding: 0%;
}

body {
    background-image: url("../background.png");
}
.alinhamento_btn{
    
    position: relative;
    float: right;
    border: 3px solid white;
    display: flex;
    margin-top: -5%;
    justify-content: flex-end;
    width: 15%;
    
  }
  .style_btns {
    background-color: rgb(11, 134, 21);
    color: aliceblue;
    box-shadow: 2px 2px 5px black;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 0px;
    height: 40px;
    width: 100px;
    font-family: 'Fredoka One', cursive;
    justify-content: flex-end;
    align-items: center;
    
  
  } 
.logo{
    margin-top: 150px;
    display: flex;
    border: 2px solid red;
    justify-content: center;
    width: 80%;



}
.Linkagem{
display: flex;
border: 2px solid red;
flex-direction: row-reverse;
justify-content: center;

}