* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0E132C;
}

header {
    color: azure;
    display: flex;
    height: 60px;
    justify-content: space-between;
}

.logo {
    scale: .3;
    left: ;
}