body {
    background-image: url("../background.png");
  }
logo{
  align-items: center;
}

.btn {
  border-bottom: 0;
  padding: 10px;
  transition: background .3s;
  border-radius: 5px;
  border-color: green;
} 
.teladefundo{
  width:200px;
  height:150px;
  border: 25px solid;
  border-color: gray;
}


.cadastro-1{
  background-color: grey;
  position: relative; 
  float:left;
  align-items: center;
}
.cadastro-2{
  background-color: grey;
  position: relative; 
  float:left;
  align-items: center;
}