@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');

*{
  margin: 0%;
  padding: 0%;
}

body {
    background-image: url("../background.png");
    
  }

input::placeholder{
  color: black;
}

.logo{
  border: 3px solid red;
  display: flex;
  margin-top: 100px;
  align-items: center;
  
}
.img_logo{
  display: flex;
  width: 550px;
  height:100px;
  padding: 0px 100px 0px 0px;
}
.alinhamento_img{
  position: relative;
  float: left;
  border: 3px solid red;
  width: 70%;
  display: flex;
  justify-content: flex-end;
 
}
.alinhamento_btn{
  position: relative;
  float: left;
  border: 3px solid white;
  display: flex;
  width: 30%;
  justify-content: flex-end;
  
  
}


.style_btns {
  background-color: rgb(11, 134, 21);
  color: aliceblue;
  box-shadow: 2px 2px 5px black;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-width: 0px;
  height: 50px;
  width: 100px;
  font-family: 'Fredoka One', cursive;
  justify-content: flex-end;
  align-items: center;
  

} 
.btns1{
  margin-left: 125px;
  margin-top: 15px;
  
}
.alinhar{
  display: flex;
  border: 5px solid white;
  justify-content: center;
}
.teladefundo{
  background-color: rgb(44, 12, 96);
  box-shadow: 3px 3px 6px black;
  border: 3px solid red;
  height: 350px;
  width: 700px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content:space-evenly;
  
}
.teladefundo input{
  margin-bottom:50px;
  height: 40px;
  width: 250px;
  background-color: aliceblue;
  border-radius: 10%;
  
}
.cadastro-1 input{
  border-radius:15px;
  margin-left: 2.5%;
}
.cadastro-2 input{
  border-radius:15px;
  margin-left: 2.5%;
}
.cadastro-1{
  display: flex;
  position: relative; 
  width: 270px;
  border: 3px solid red;
  flex-direction: column;
  

}

.cadastro-2{
  display: flex;
  position: relative; 
  float: left;
  border: 3px solid red;
  width: 270px;
  flex-direction: column;
  
  
}
.avancar{
  border: 2px solid green;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  
}
a{
  color: white;
background-color: rgb(11, 134, 21);
justify-content: center;
width: 550px;
height: 70px;
font-family: 'Fredoka One', cursive;
font-size: 45px;
display: flex;
color: rgb(11, 134, 21);
}